2

2
2

1
utas ini idnya 1 anjay
Tuan A
14/10/2023 11:09:18
anjay mabar

3
kalok ini 3 karena atasnya 3
Tuan B
14/10/2023 11:09:18
anjay mabar

10
2

2
id nya 2 kalo ini
Tuan C
14/10/2023 11:09:18
line pertama utk jlh kicauan yg ada utas

4
kalo ini 4
Tuan D
14/10/2023 11:09:18
kedua utk id kicauan, ketiga utk jlh utas, ke-4 utk id utas
